@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
 */

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary: #54b9b8;
  --secondary: #212121;
  --bg2: #303030;
  --bg: #121212;
}

/* nav section */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 10px 5%;
  height: 12vh;
  background-color: var(--bg);
  color:var(--text);
  /* border: 2px solid red; */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.left-nav img {
  /* border: 2px solid green;  */
  height: 110px;
}

.right-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-nav ul li {
  margin-left: 40px;
  list-style: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  /* color: white; */
  color: white;
}

.right-nav ul li::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 10%;
  background-color: var(--primary);
  border-radius: 100px;
  transition: 100ms width ease-in-out;
}

.right-nav ul li:hover::after {
  width: 100%;
}

.btn {
  border: 3px solid var(--primary);
  background: none;
  padding: 10px 30px;
  font-size: 1.2rem;
  color: var(--primary);
  border-radius: 100px;
  cursor: pointer;
  transition: 100ms color ease-in-out, 100ms background-color ease-in-out;
}

.nav-btn {
  margin-left: 40px;
}

.nav-btn:hover {
  background-color: var(--primary);
  color: white;
}

/* .active {
  position: relative;
}

.active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: var(--primary);
  border-radius: 100px;
} */

/* hero section */

/* Xactitude Section */
.xactitude {
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0px auto;
}

.header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  color: var(--primary);
  position: relative;
  text-align: center;
}

.header::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 5%;
  background-color: var(--primary);
  border-radius: 100px;
}

.para {
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  font-size: 1.1rem;
  text-align: center;
  line-height: 36px;
}

/*cs deparment  */

.cs-department {
  height: 130vh;
  /* border: 2px solid wheat; */
  background-color: var(--bg2);
}

.text-content-container {
  /* border: 2px solid red; */
  width: 75%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.cs-department h2 {
  font-size: 2.5rem;
}

/* kjc */

.kjc {
  height: 100vh;
  background-color: #212121;
  /* border: 2px solid red; */
}

.kjc h2 {
  margin: 0px;
}


@media only screen and (max-width: 800px) {

  ul li{
    transform: translateX(-15px);
  }
  
  .footer-common ul li{
    transform: translateX(0px);

  }

  .text-content-container{
    width: 90%;
  }

  .xactitude{
    height: 100vh;
    /* border: 2px solid red; */
    width: 90%;
  }

  .cs-department{
    height: 130vh;
    /* border: 2px solid green; */
  }

  .kjc{
    height: 100vh;
  }

  .header{
    text-align: center;
  }

  .header::before{
    margin-top: 10px;
    height: 2%;
  }
}

@media only screen and (max-width: 768px) {

  .xactitude{
    height: 100vh;
  }

  .cs-department{
    height: 130vh;
  }

  .kjc{
    height: 100vh;
  }
}

@media only screen and (max-width: 682px) {
  .kjc{
    height: 120vh;
  }
} 

@media only screen and (max-width: 632px) {
  .cs-department{
    height: 150vh;
  }

  .kjc{
    height: 120vh;
  }
}

@media only screen and (max-width: 541px) {

  .xactitude{
    height: 150vh;
  }
  .cs-department{
    height: 200vh;
  }
  .kjc{
    height: 180vh;
  }
}

@media only screen and (max-width: 536px) {
  .xactitude{
    height: 120vh;
  }
}

@media only screen and (max-width: 480px) {
  .cs-department{
    height: 190vh;
  }
  .kjc{
    height: 160vh;
  }
}

@media only screen and (max-width: 426px) {

  .xactitude{
    height: 120vh;
  }

  .cs-department{
    height: 220vh;
  }

  .kjc{
    height: 180vh;
  }

}

@media only screen and (max-width: 415px) {

  .xactitude{
    height: 150vh;
  }

  .cs-department{
    height: 220vh;
    /* border: 2px solid red; */
  }

  .kjc{
    height: 200vh;
  }
}

@media only screen and (max-width: 394px) {
  .xactitude{
    height: 160vh;
  }

  .cs-department{
    height: 250vh;
  }
}


@media only screen and (max-width: 376px) {

  .left-nav img{
    height: 50px;
    margin-top: 20px;
  }
  .xactitude{
    height: 200vh;
  }
  .cs-department{
    height: 300vh;
  }
  .kjc{
    height: 250vh;
  }

  .para{
    width: 100%;
  }

  .kjc h2{
    font-size: 2rem;
  }

  .cs-department h2{
    font-size: 2rem;
  }
}