.hero-wrap {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #000000;
}
.hero-wrap .overlay {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  background: #000000;
}
.hero-wrap.hero-wrap-2 {
  height: 600px;
  position: relative;
  background-position: center center;
}
.hero-wrap.hero-wrap-2 .overlay {
  width: 100%;
  opacity: 0.3;
  background: #fff;
}
.hero-wrap.hero-wrap-2 .slider-text {
  height: 600px;
}

.slider-text h1 {
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
}
@media (max-width: 991.98px) {
  .slider-text h1 {
    font-size: 40px;
  }
}

.slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.slider-text p strong {
  font-weight: 700;
}
.slider-text p strong a {
  color: #000000;
}



.sec2{
    padding: 40px 40px;
  background-color: var(--bg);
  color:var(--text);
  font-family: Poppins;
  }
  .hd1 {
    
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.hd1:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 5px solid var(--text);
}
.hd2 {
    
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    font-family: Poppins;
}
.hd2:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 5px solid white;
}
.inst1 h4{
        font-family: Poppins;
}
.inst1 p{
        font-family: Poppins;
}
.inst1 div{
  width:50%;
  padding: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(255,255,255,0.16),0 2px 10px 0 rgba(255,255,255,0.12)!important;
  margin:10px;
  border-radius: 5px;
}
.inst1{
  display: flex;
}
@media only screen and (max-width: 800px) {

.inst1 div{
width: 70%;
}
}
@media only screen and (max-width: 500px) {
  .inst1{
  display: inline;
}
.inst1 div{
width: 100%;
margin:1%;
}
}



.sec1 {
  padding: 20px 20px;
  background: var(--bg);
  color:var(--text);
}

.div1 h4 {
  color: white;
  font-family: Poppins;
}

.div1 p {
  color: white;
  font-family: Poppins;
}

.div1 {
  display: flex;
  padding: 10px 10px;
  width: 100%;
}

.div1 div {
  margin-left: auto;
  margin-right: auto;
}

.register_btns{
  background-color: var(--bg);
  position: relative;
  text-align: center;
}
