@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
 */


 html, body{
     overflow-x: hidden ;
 }

 body{
     margin: 0px;
     padding: 0px;
     background-color: var(--bg);
 }

 a{
     color: inherit;
     text-decoration: none;
 }

 
:root {
  --primary: #54b9b8;
  --secondary: #424242;
  --bg: #121212;
  --text: #fdfdfd;
}
 

 .panel{
    /* border: 2px solid green; */
    position: absolute;
    height: 90vh;
    top: 0;
    left: 0px;
    width: 50%;
    background-color: #1F295B;
    ;
    z-index: -1;
 }

 
/* nav section */
.nav{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px 5%;
    /* height: 12vh;
    border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: 100ms background-color ease-in-out;
}

.left-nav img{
    /* border: 2px solid green; */
    height: 80px;
}

.nav-btn {
    margin: 0 0 0 40px;
    background: none;
    color: var(--primary);
  }







h3,h4{
    line-height: 28px;
}


/* about hero section */
.about-hero{
    /* border: 2px solid red;     */
    height: 90vh;
    color: white;
    font-family: 'Poppins', sans-serif;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 100%;
    margin: 0px 10%;
    margin-bottom:20px ;
}

.about-left{
    /* border: 2px solid yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.about-right{
    /* border: 2px solid yellow; */
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.header-common{
    position: relative;
}

.header-common h2{
    /* border: 2px solid red; */
    color: var(--primary);
    font-size: 1.2rem;
    position: relative;
}

.header-common h4{
    font-weight: 200;
    font-size: 1.5rem;
}

.about-icons{
    height: 20px;
    /* filter: invert(); */
    position: absolute;
    top: 25px;
    left: -30px;
    fill: green;
}

.clg-links:hover{
    text-decoration: underline;
}

.contact-number:hover{
    text-decoration: underline;
}


/* footer section */
.footer-container{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-evenly;
    height: 60vh;
    background-color: var(--footer);
    color: white;
    font-family: Poppins;
    font-style: normal;
    padding-top: 10px;
    position: relative;
}

#copyright{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 27px;

    position: absolute;
    bottom: 0px;
}

.social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-group{
    display: flex;
    align-content: center;
    justify-content: center;
}

.icon-container{
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #333b46;
    padding: 5px;
    cursor: pointer;
    margin: 0px 10px;
}

.social-icons img{
    /* border: 2px solid red; */
    /* background-color: var(--bg); */
    filter: invert();
    height: 30px;
    margin: 0px 10px;
}

.footer-common{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.footer-common h3{
    /* border: 2px solid red; */
    font-size: 1.3rem;
    user-select: none;
}

.footer-common ul{
    padding-left: 0px;
}

.footer-common ul a li{
    text-transform: capitalize;
    line-height: 30px;
    /* list-style: none; */
}

.footer-common ul li:hover{
    text-decoration: underline;
}

.e-mail-link{
    text-transform: lowercase;
}


.fade-in{
    background-color: var(--secondary);
}

@media only screen and (max-width: 1500px) {
    .about-hero{
        margin-top:30%;
        grid-template-columns: auto;
        font-family: Poppins;     
    }
    
    .panel{
        height: 60%;
        width: 100%;
    }
    hr{
        display: block;
        border-top:1px solid gray;
        margin:5px;
    }
    .nav{
      height: 9rem;
    }
    .container{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card {
      width: 23rem; 
    }
    .top-content {
      position: relative;
      top: 10rem;
    }
    .nav-btn{
      position: relative;
      margin: 0
    }
    .about-hero{
        
        flex-direction: column;
        margin-top: 20vh;
        margin-left: 10vh;
        justify-content: space-evenly;
        height: 80vh;
        
        margin-bottom:10px ;
    }
    .panel{
        width: 100%;
    }
    .about-left,.about-right{
        width: 100%;
    }
    .about-left > .contact-no> h2{
        font-size: 20px;
        
    }
    .about-left > .contact-no> h4{
        font-size: 15px;
        
    }
    .about-left > .website> h2{
        font-size: 20px;
        
    }
    .about-left > .website> h4{
        font-size: 15px;
        
    }
    .about-right > .address > h2{
        font-size: 20px;
        
    }
    .about-right > .address > h4{
        font-size: 15px;
        
    }
    .about-right > .email-id > h2{
        font-size: 20px;
        
    }
    .about-right > .email-id > h4{
        font-size: 15px;
        
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 140vh;
    }
    .footer-common > ul >a >li {
        list-style-type: none;
    }
    .footer-common h3{
        color: aqua;
    }
    
  }