@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary: #54b9b8;
  --secondary: #424242;
  --bg: #121212;
  --text: #fdfdfd;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg);
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: inherit;
}

.top-content {
  margin-top: 8%;
}
.aboutevents {
  width: 95%;
  height: 100%;
  padding: 3%;
  background-color: #212121;
  border-radius: 12px;
  margin: 2% 3%;
  color: var(--text);
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Open Sans";
}
a:hover {
  text-decoration: none;
}
.left-nav img {
  height: 100px;
}

:root{
  --bg-logo:#fff;
  --filt: none;
}
.event1 {
  --bg-color: #f7c739;
  --bg-color-light: #ffeeba;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
  --bg-logo: #000;
  --filt:invert();

}

.event2 {
  --bg-color: #873ba5;
  --bg-color-light: #e2fced;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(249, 184, 240, 0.48);
}

.event3 {
  --bg-color: #51c0ec;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(178, 225, 252, 0.48);
}

.event4 {
  --bg-color: #37f847;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(179, 241, 137, 0.48);
}
.event5 {
  --bg-color: #e638b2;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(245, 168, 248, 0.48);
}
.event6 {
  --bg-color: #f55727;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(248, 184, 148, 0.48);
}
.event7 {
  --bg-color: #212ff8;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(141, 179, 243, 0.48);
}

.card {
  width: 20rem;
  height: 25rem;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  margin-bottom: 2rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(5) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 20px;
  color: #4c5656;
  margin-top: 30px;
  z-index: 3;
  transition: color 0.3s ease-out;
}

.circle {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle .svg {
  z-index: 2;
  transform: translateZ(0);
  height: 50%;
  width: 50%;
  border-radius: 50%;
  background-color: var(--bg-logo);
  filter:var(--filt);

}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  z-index: 0;
  transition: transform 0.3s ease-out;
  transform: translateY(-30%);
}

.s1 {
  height: 400px;
  width: 500px;
  font-size: 30px;
  display: grid;
  text-align: center;
}

.s1 p {
  position: relative;
  top: 30px;
  font-size: 25px;
  color: white;
}



.carousel-inner ::after {
  background-color: transparent;
}

.carousel-inner ::before {
  background-color: transparent;
}

.btn {
  /* position: relative; */
  /* transform: translateY(70%); */
  margin: 0;
  margin-top: 50px;
  background-color: var(--primary);
  color: white;
}

.nav-btn {
  margin: 0 0 0 40px;
  background: none;
  color: var(--primary);
}

.carousel-item .btn:hover{
  background-color:var(--primary);
  color:var(--text);
}

p.real-name {
  position: absolute;
  top: 65%;
  font-size: 14px;
  color: gray;
}
p.more {
  position: absolute;
  font-size: 15px;
  top: 75%;
  color: gray;
}

.slides {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

@media only screen and (max-width: 800px) {
  .nav{
    height: 9rem;
  }
  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 23rem; 
  }
  .top-content {
    position: relative;
    top: 10rem;
  }

  
}