:root{
    --footer: #232931;
    --primary: #54b9b8;
    --secondary: #424242;
    --bg: #121212;
    --text: #ffffff;
}


/* footer section */
.footer-container{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-evenly;
    height: 60vh;
    background-color: var(--footer);
    color: white;
    font-family: Poppins;
    font-style: normal;
    padding-top: 30px;
    position: relative;
}

#copyright{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 27px;

    position: absolute;
    bottom: 0px;
}

.social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-group{
    display: flex;
    align-content: center;
    justify-content: center;
}

.icon-container{
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #333b46;
    padding: 5px;
    cursor: pointer;
    margin: 0px 10px;
}

.social-icons img{
    /* border: 2px solid red; */
    /* background-color: var(--bg); */
    filter: invert();
    height: 30px;
    margin: 0px 10px;
}

.footer-common{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.footer-common h3{
    /* border: 2px solid red; */
    font-size: 1.3rem;
    user-select: none;
}

.footer-common ul{
    padding-left: 0px;
}

.footer-common ul a li{
    text-transform: capitalize;
    line-height: 30px;
    /* list-style: none; */
}

.footer-common ul li:hover{
    text-decoration: underline;
}

.e-mail-link{
    text-transform: lowercase;
}

.fade-in{
    background-color: var(--secondary);
}


@media only screen and (max-width: 820px) {
    .footer-container{
        height: 40vh;
    }

    .icon-container{
        height: 30px;
        width: 30px;
    }


    .icon-container img{
        height: 25px;
    }

    .footer-common{
        margin: 0px 20px;
    }

    .footer-common h3{
        font-size: 1.1rem;
    }
}   

@media only screen and (max-width: 800px) {
    
    .footer-container{
        flex-direction: column;
        height: 130vh;
        /* margin-top: 100px; */
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    }

    .social-icons{
        /* border: 2px solid red; */
        margin: 20px auto;
    }

    .footer-common{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-common h3{
        color: var(--primary);
        text-align: center;
    }

    .footer-common ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 376px) {
    .footer-container{
        height: 200vh;
    }
}