/* nav section */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  /* --primary: #54B9B8;
     --secondary: #F7ECDE;
     --bg: #464646;
     --text: #fdfdfd; */

  --primary: #54b9b8;
  --secondary: #424242;
  --bg: #121212;
  --text: #ffffff;
  --brou:#ff5145;
}
.nav,
.navbar {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 25px 5%;
  /* height: 12vh; */
  background-color: var(--bg);
  /* border: 2px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
}

.navbar-scroll {
  background-color: var(--secondary);
}

.left-nav img {
  /* border: 2px solid green; */
  height: 110px;
  /* filter: invert(); */
}

.right-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-nav ul li {
  margin-left: 40px;
  list-style: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  /* color: white; */
  color: #fff;
}

.right-nav ul li::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 10%;
  background-color: var(--primary);
  border-radius: 100px;
  transition: 100ms width ease-in-out;
}

.right-nav ul li:hover::after {
  width: 100%;
}

.btn {
  border: 3px solid var(--primary);
  background: none;
  padding: 10px 30px;
  font-size: 1.2rem;
  color: var(--primary);
  border-radius: 100px;
  cursor: pointer;
  transition: 100ms color ease-in-out, 100ms background-color ease-in-out;
}

.nav-btn {
  margin-left: 40px;
}

.nav-btn:hover {
  background-color: var(--primary);
  color: white;
}

.brochure{
  border: 3px solid  var(--brou);
  color: var(--brou);
  text-transform: uppercase;
}

.brochure:hover {
  background-color: var(--brou);
  color: white;
}


.active {
  position: relative;
}

.active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: var(--primary);
  border-radius: 100px;
}

.check-btn {
  color: #fff;
  font-size: 30px;
  padding: 2px;
  float: right;
  line-height: 80px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
#toggle-btn {
  display: none;
}
.carousel-inner ::after {
    background-color: transparent;
  }
  
  .carousel-inner ::before {
    background-color: transparent;
  }

a:hover{
  text-decoration: none;
}

@media screen and (max-width: 1150px) {
  .left-nav img {
    height: 55px;
   top:-15px;
   position: relative;
  }

  .main-logo {
    top: 45%;
    height: 15%;
  }
}

@media screen and (max-width: 1000px) {
  a .active {
    background-color: var(--primary);
  }
  #toggle-btn {
    display: block;
  }
  .right-nav {
    position: fixed;
    margin-left:1%;
    width: 98%;
    height: 60%;
    background-color: var(--secondary);
    top: 110px;
    left: -110%;
    text-align: center;
    z-index: 10;
    display: block;
    transition: all 0.5s;
    padding-top: 10%;
  }
  .nav ul {
    display: block;
  }
  .nav ul a li {
    margin:4px -5% ;
    width: 100%;
    padding: 4%;
  }

  .check-btn {
    display: block;
  }

  #check:checked ~ .right-nav {
    left: 0;
  }
  .nav-btn {
    margin-left: -2.2rem;
  }
}
