<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XACTITUDE | About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="../css/about.css">

    <link rel="stylesheet" href="../css/scrollbar.css">
    <link rel="stylesheet" href="../css/footer.css">

    <link rel="stylesheet" href="../css/navbar.css">



    <!-- google fonts/icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- particles js -->
    <script src="./particles.js-master/particles.js" defer></script>
    <script src="./particles.js-master/app.js" defer></script>



</head>

<body>


    <section class="nav">
        <!-- header logo div -->
        <div class="left-nav">
            <a href="../index.html">
                <img src="../resources/kjc-flag-latest (1).png" alt="kjc logo">
                <!-- <img src="./resources/kjc-flag-latest.png" alt="kjc logo"> -->
            </a>
        </div>

        <!-- nav links div -->
        <!-- <button id="toggle-btn">Small</button> -->

        <input type="checkbox" id="check" />
        <label for="check" class="check-btn">
            <i class="fa fa-bars"></i>
        </label>

        <div class="right-nav">

            <ul id="nav-items">
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="../templates/events.html">
                    <li>events</li>
                </a>
                <a href="../templates/schedule.html">
                    <li >Schedule</li>
                </a>
                <a href="../templates/about.html">
                    <li class="active">about</li>
                </a>
                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022"><button class="btn nav-btn">REGISTER</button></a>


            </ul>

        </div>
    </section>


    <section class="xactitude">
        <h2 class="header">Kristu Jayanti College</h2>
        <p class="para">Kristu Jayanti College, founded in 1999, is managed by "BODHI NIKETAN TRUST", formed by the
            members of St. Joseph Province of the Carmelites of Mary Immaculate (CMI). The College is affiliated to
            Bengaluru North University and is reaccredited with grade 'A' in 2015 by NAAC in the Second Cycle of
            Accreditation. The College is recognized by UGC under the category 2(f) & 12(B). The College was
            accorded Autonomous Status from 2013 by the University Grants Commission, Government of Karnataka & the
            Bangalore University. For its contribution in the field of Education, Kristu Jayanti College was
            recently given the Heroes of Bengaluru award. In the India Today - MDRA survey 2020, Kristu Jayanti
            College, Bengaluru is awarded as the Best Emerging College of the Century at National Level and the
            college is ranked 4th Best BCA, 11th Best MSW, 18th Best Arts, 19th Best Commerce, 19th Best BBA and
            25th Best Science College in India. The College also ranked 2nd Best in BCA & MSW, 3rd best in Commerce
            & Arts, 4th Best in Science and 5th best in BBA among the colleges in Bengaluru.
            <br><br>
            The institution strives to fulfill its mission to provide educational opportunities to all aspiring
            youth to excel in life by developing academic excellence, fostering values, creating civic
            responsibility and building global competencies in a dynamic environment.
        </p>

       
    </section>


    <section class="cs-department">
        <div class="text-content-container">

            <h2 class="header">Department of Computer Science[UG]</h2>
            <p class="para">Computer Science is an exciting, growing, challenging field that has revolutionized the
                world over the years. It has changed the very face of the society. It has found wide range of
                applications in different spheres of life which includes medicine, communications, automotive
                technology, weather forecasting, entertainment, mining, pharmacology, forensics, manufacturing, disaster
                recovery, security, law, business etc. With an overwhelming increase in the widespread usage and
                popularity, computer education has become inevitable for the common man.
                <br><br>
                The department of Computer Science exists from the very beginning of the college (1999). The Department
                has multidisciplinary courses in Computer Science, Mathematics, Statistics and Electronics. Each
                discipline enables the students to be employable or explore new horizons in the path of higher studies
                and research.
                <br><br>
                Students choose to major in computer science for a variety of reasons. Many of our students graduate to
                rewarding computer-related careers in software development, testing, software engineering, system
                administration, research and development in private and governmental sectors.
                <br><br>
                Our society is becoming increasingly dependent on technology for every aspect of our lives, from
                business to social interaction and beyond increasing the demand for graduates in every industry in a
                wide range of capacities. Owing to the fact that information technology has made an impression in every
                discipline, most of our graduates acquire solid foundation which paves way for career in multifaceted
                disciplines.
            </p>
        </div>
    </section>


    <section class="kjc">
        <div class="text-content-container">
            <h2 class="header">XACTITUDE</h2>
            <p class="para">Xactitude is an Annual Science and Technology festival organized by the Department of Computer
                Science (UG) of Kristu Jayanti College. It is one such platform where young brains get to showcase their
                skills and compete with each others to exhibit the best version of themselves. It is an event where new
                ideas are seen live. Year after year, Xactitude explores various aspects of science and technology and the
                profound impacts they have on our lives. It has constantly grown, evolved, and pushed the boundaries of what
                a college fest can be. With something to offer for everyone, Xactitude is an ideal destination for all
                technophiles to witness, learn and experience the wonders of science and technology.
                <br><br>
                Boasting of a huge roster of exciting and engaging events, this edition of Xactitude promises to be grander,
                greater and more glorious than ever before.
            </p>
        </div>
    </section>


    <!-- footer section -->
    <section class="footer-container">

        <!-- copyright -->
        <h4 id="copyright">Copyright © 2022 All rights reserved</h4>

        <div class="social-icons footer-common">
            <h3>Social Media Links</h3>
            <div class="icon-group">
                <div class="icon-container">
                    <img src="../resources/insta logo.svg" alt="insta logo">
                </div>
                <div class="icon-container">
                    <img src="../resources/gmail logo.svg" alt="insta logo">
                </div>
            </div>
        </div>

        <div class="links footer-common">
            <h3>Links</h3>
            <ul>
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="../templates/about.html">
                    <li>about</li>
                </a>
                <a href="#">
                    <li>schedule</li>
                </a>
                <a href="../templates/events.html">
                    <li>events</li>
                </a>

                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <a href="#">
                    <li>register</li>
                </a>
                <a href="../resources/brochure.pdf" target="_blank">
                    <li>brochure</li>
                </a>
            </ul>
        </div>

        <div class="about footer-common">
            <h3>About</h3>
            <ul>
                <a href="https://kristujayanti.edu.in/" target="_blank">
                    <li>kristu jayanti college</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/founder.php" target="_blank">
                    <li>founder</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/history.php" target="_blank">
                    <li>history</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/vision_mission_goals.php" target="_blank">
                    <li>vision, mission, goals</li>
                </a>
                <a href="https://kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/computer_science.php"
                    target="_blank">
                    <li>department of computer science</li>
                </a>
            </ul>
        </div>

        <div class="contact footer-common">
            <h3>Contact</h3>
            <ul>
                <a
                    href="https://www.google.com/maps/place/Kristu+Jayanti+College,+Autonomous/@13.0579425,77.6407745,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae17578c79da7d:0xe96dcd8e2b982f8e!8m2!3d13.0579425!4d77.6429632">
                </a>
                <a href="tel:9632061398">
                    <li>9632061398</li>
                </a>
                <a href="mailto:computeracademy@kristujayanti.com">
                    <li class="e-mail-link">computeracademy@kristujayanti.com</li>
                </a>
            </ul>
        </div>
    </section>


    <script src="../js/main.js"></script>

</body>

</html>