<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xactitude | Badges</title>

    <!--css  -->
    <link rel="stylesheet" href="../css/badges.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/scrollbar.css">

    <!-- js -->
    <script src="../js/badges.js" defer></script>
</head>

<body>


    <section class="body">

        <!-- input uuid and generate badge -->
        <section class="generate">

            <input type="text" name="uuid" id="uuid" autocomplete="off" placeholder="UUID">
            <button id="submit">Download Badge</button>
        </section>

    </section>


    <!-- footer -->

    <section class="footer-container">

        <!-- copyright -->
        <h4 id="copyright">Copyright © 2022 All rights reserved</h4>

        <div class="social-icons footer-common">
            <h3>Social Media Links</h3>
            <div class="icon-group">
                <div class="icon-container">
                    <img src="../resources/insta logo.svg" alt="insta logo">
                </div>
                <div class="icon-container">
                    <img src="../resources/gmail logo.svg" alt="insta logo">
                </div>
            </div>
        </div>

        <div class="links footer-common">
            <h3>Links</h3>
            <ul>
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="../templates/about.html">
                    <li>about</li>
                </a>
                <a href="#">
                    <li>schedule</li>
                </a>
                <a href="../templates/events.html">
                    <li>events</li>
                </a>
                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <a href="#">
                    <li>register</li>
                </a>
                <a href="#">
                    <li>brochure</li>
                </a>
            </ul>
        </div>

        <div class="about footer-common">
            <h3>About</h3>
            <ul>
                <a href="https://kristujayanti.edu.in/" target="_blank">
                    <li>kristu jayanti college</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/founder.php" target="_blank">
                    <li>founder</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/history.php" target="_blank">
                    <li>history</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/vision_mission_goals.php" target="_blank">
                    <li>vision, mission, goals</li>
                </a>
                <a href="https://kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/computer_science.php"
                    target="_blank">
                    <li>department of computer science</li>
                </a>
            </ul>
        </div>

        <div class="contact footer-common">
            <h3>Contact</h3>
            <ul>
                <a
                    href="https://www.google.com/maps/place/Kristu+Jayanti+College,+Autonomous/@13.0579425,77.6407745,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae17578c79da7d:0xe96dcd8e2b982f8e!8m2!3d13.0579425!4d77.6429632">
                    <li>K. Narayanapura, Kothanur</li>
                </a>
                <a href="tel:080-28465611">
                    <li>080-28465611</li>
                </a>
                <a href="mailto:computeracademy@kristujayanti.com">
                    <li class="e-mail-link">computeracademy@kristujayanti.com</li>
                </a>
            </ul>
        </div>
    </section>
</body>

</html>