<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    <title>XACTITUDE | 2022</title>

    <!-- css -->

    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/scrollbar.css" />
    <link rel="stylesheet" href="../css/codex.css" />
    <link rel="stylesheet" href="../css/footer.css">

    <!-- google fonts/icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- particles js -->
    <script src="./particles.js-master/particles.js" defer></script>
    <script src="./particles.js-master/app.js" defer></script>

</head>

<body class="body">


    <!-- nav section -->
    <section class="nav">
        <!-- header logo div -->
        <div class="left-nav">
            <a href="../index.html">
                <img src="../resources/kjc-flag-latest (1).png" alt="kjc logo">
                <!-- <img src="./resources/kjc-flag-latest.png" alt="kjc logo"> -->
            </a>
        </div>

        <!-- nav links div -->
        <!-- <button id="toggle-btn">Small</button> -->

        <input type="checkbox" id="check" />
        <label for="check" class="check-btn">
            <i class="fa fa-bars"></i>
        </label>

        <div class="right-nav">

            <ul id="nav-items">
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="../templates/events.html">
                    <li class="active">events</li>
                </a>
                <a href="../templates/about.html">
                    <li>about</li>
                </a>
                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022"><button class="btn nav-btn">REGISTER</button></a>

            </ul>

        </div>
    </section>

    <section class="img1 hero-wrap hero-wrap-2" style="background-image: url('../resources/coding.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">CodeX</h1>
                    <p class="breadcrumbs"><span class="mr-2">CODING & DEBUGGING</span></p>
                </div>
            </div>
        </div>
    </section>



    <section class="sec2">
        <div class="cont1">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section heading-section-black text-center ftco-animate">
                    <h2 class="hd1 mb-4">EVENT DETAILS</h2>
                </div>
            </div>

            <h4>GENERAL GUIDELINES:
            </h4>
            <p>
                The event is for individual participants.<br>
                During the quiz participants should keep their camera switched on,
                throughout the zoom session.<br>
                Frequent and/or Extended disconnection from zoom will lead to
                disqualification.<br>
                The event consists of two rounds; preliminary and final round.<br>
                The participants should have a Laptop/Desktop with a webcam and stable
                internet connection.<br>
                Quiz link and Zoom link will be sent to the registered participants. Joining
                late will not be entertained.<br>
                Plagiarism will lead to disqualification<br>




            </p>
            <div class="inst1 ftco-animate">



                <div>
                    <h4>ROUND 1: PRELIMINARY ROUND</h4>
                    <p>
                        <b>Rules:</b><br>
                        • Round will be based on basic programming concept of C<br>
                        • The round consists of 30 MCQ questions, 1 point for each correct
                        answer and no negative marking.<br>
                        • The time constraint is 15 minutes.<br>
                        • The qualifying participants will proceed to the Next round.<br>
                        • 30 will be selected for the final round. In case of a tie, submission time will
                        be considered as a tie-breaker.<br>
                        • Round will be held on Quizizz platform. Participants can familiarize
                        themselves with it.<br>




                    </p>
                </div>

                <div>
                    <h4>FINAL ROUND
                    </h4>
                    <p>
                        Final Round will be held on Hackerrank platform. Participants can
                        familiarize themselves with the platform beforehand to be prepared.
                        Make sure to create an account on Hackerrank using your college
                        email id and set username as register number. Discrepancy will
                        lead to disqualification.
                    </p>

                    <h3> Round 1 (Coding)</h3>
                    <p>
                        •Round will be based on the basic programming concept of C.<br>
                        • The round consists of 4 questions on C.<br>
                        • The time constraint is 20 minutes.<br>
                        • There will be no negative points.<br>
                        • All participants will proceed to the Next round.<br>
                    </p>
                    <h3> Round 2 (Debugging)</h3>
                    <p>

                        • Round will be based on the basic programming concept of C.<br>
                        • The round consists of 3 questions.<br>
                        • The time constraint is 15 minutes.<br>
                        • There will be no negative points.<br>
                        • Winners will be decided from both the rounds’ points, time taken, and code
                        quality.<br>
                        • In case of tie, submission time and points of round 1 and 2 will be
                        considered.<br>

                    </p>
                </div>
            </div>

    </section>

    <section class="register_btns">
        <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022"><button class="btn nav-btn">REGISTER</button></a>
        <a href="broucher-link"><button class="btn nav-btn broucher">BROUCHER</button></a>
    </section>


    <section class="sec1">
        <div class="cont1">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section heading-section-white text-center ftco-animate">
                    <h2 class="hd2 mb-4">EVENT COORDINATORS</h2>
                </div>
            </div>

            <div class="div1">


                <div>
                    <h4>Event Student Coordinator</h4>
                    <p>• Ashwin Hebbar - 8660722846<br>
                        • Sayan Ghosh 


                    </p>
                </div>
            </div>

        </div>

    </section>

    <script src="../js/main.js"></script>

    <section class="footer-container">

        <!-- copyright -->
        <h4 id="copyright">Copyright © 2022 All rights reserved</h4>

        <div class="social-icons footer-common">
            <h3>Social Media Links</h3>
            <div class="icon-group">
                <div class="icon-container">
                    <a href="https://www.instagram.com/xactitude2k22/"><img src="../resources/insta logo.svg" alt="insta logo"></a>
                </div>
                <div class="icon-container">
                    <a href="mailto:computeracademy@kristujayanti.com"><img src="../resources/gmail logo.svg" alt="insta logo"></a>
                </div>
            </div>
        </div>

        <div class="links footer-common">
            <h3>Links</h3>
            <ul>
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="../templates/about.html">
                    <li>about</li>
                </a>
                <a href="#">
                    <li>schedule</li>
                </a>
                <a href="../templates/events.html">
                    <li>events</li>
                </a>
                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022">
                    <li>register</li>
                </a>
                <a href="broucher-link">
                    <li>brochure</li>
                </a>
            </ul>
        </div>

        <div class="about footer-common">
            <h3>About</h3>
            <ul>
                <a href="https://kristujayanti.edu.in/" target="_blank">
                    <li>kristu jayanti college</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/founder.php" target="_blank">
                    <li>founder</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/history.php" target="_blank">
                    <li>history</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/vision_mission_goals.php" target="_blank">
                    <li>vision, mission, goals</li>
                </a>
                <a href="https://kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/computer_science.php"
                    target="_blank">
                    <li>department of computer science</li>
                </a>
            </ul>
        </div>

        <div class="contact footer-common">
            <h3>Contact</h3>
            <ul>
                <a
                    href="https://www.google.com/maps/place/Kristu+Jayanti+College,+Autonomous/@13.0579425,77.6407745,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae17578c79da7d:0xe96dcd8e2b982f8e!8m2!3d13.0579425!4d77.6429632">
                    <li>K. Narayanapura, Kothanur</li>
                </a>
                <a href="tel:080-28465611">
                    <li>080-28465611</li>
                </a>
                <a href="mailto:computeracademy@kristujayanti.com">
                    <li class="e-mail-link">computeracademy@kristujayanti.com</li>
                </a>
            </ul>
        </div>
    </section>


</body>

</html>