<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    <title>XACTITUDE|2022</title>

    <!-- css -->

    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/scrollbar.css" />
    <link rel="stylesheet" href="../css/codex.css" />

    <!-- google fonts/icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- particles js -->
    <script src="./particles.js-master/particles.js" defer></script>
    <script src="./particles.js-master/app.js" defer></script>

</head>

<body class="body">


    <!-- nav section -->
    <section class="nav">
        <!-- header logo div -->
        <div class="left-nav">
            <a href="../index.html">
                <img src="../resources/kjc-flag-latest (1).png" alt="kjc logo">
                <!-- <img src="./resources/kjc-flag-latest.png" alt="kjc logo"> -->
            </a>
        </div>

        <!-- nav links div -->
        <!-- <button id="toggle-btn">Small</button> -->

        <input type="checkbox" id="check" />
        <label for="check" class="check-btn">
            <i class="fa fa-bars"></i>
        </label>

        <div class="right-nav">

            <ul id="nav-items">
                <a href="./index.html">
                    <li class="active">home</li>
                </a>
                <a href="../templates/events.html">
                    <li>events</li>
                </a>
                <a href="../templates/about.html">
                    <li>about</li>
                </a>
                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <button class="btn nav-btn">REGISTER</button>

            </ul>

        </div>
    </section>

    <section class="img1 hero-wrap hero-wrap-2" style="background-image: url('../resources/codingback.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">CodeX</h1>
                    <p class="breadcrumbs"><span class="mr-2">CODING & DEBUGGING</span></p>
                </div>
            </div>
        </div>
    </section>



    <section class="sec2">
        <div class="cont1">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section heading-section-black text-center ftco-animate">
                    <h2 class="hd1 mb-4">EVENT DETAILS</h2>
                </div>
            </div>

            <h4>GENERAL GUIDELINES:
            </h4>
            <p>
                • The event is for individual participants.<br>
                • During the quiz participants should keep their camera switched on, throughout the zoom session.
                If any participant’s video is switched off for a longer period it will led to immediate elimination.
                <br>
                • The event consists of two rounds preliminary and final round.<br>
                • The participants should have a Laptop/Desktop with webcam and good internet connection.<br>
                • Participants should have a laptop/desktop for participating.<br>
                • Quiz link and Zoom link will be sent to the registered participants. Late joining will not be
                entertained. <br>




            </p>
            <div class="inst1 ftco-animate">



                <div>
                    <h4>ROUND 1: Aptitude Round</h4>
                    <p>
                        <b>Rules:</b><br>
                        • Round will be based on basic programming concept of c and java<br>
                        • The round consists of 30 MCQ questions,1 point for each correct answers and no negative
                        marking.<br>
                        • The time constraint is 20 minutes.<br>
                        • The qualifying participants will proceed to the Next round.<br>
                        • Top 7 will be selected for final round. In case of tie, submission time will be
                        considered.<br>




                    </p>
                </div>

                <div>
                    <h4>FINAL ROUND
                    </h4>

                    <h3> Round 1 (Coding)</h3>
                    <p>
                        • Round will be based on basic programming concept of c and java<br>
                        • The round consists of 4 questions, 2 from C and 2 from java.<br>
                        • The time constraint is 20 minutes.<br>
                        • There will be no negative points.<br>
                        • The qualifying participants will proceed to the Next round.<br>
                        • Top 4 will be selected for final round. In case of tie, submission time will be considered<br>
                    </p>
                    <h3> Round 2 (Debugging)</h3>
                    <p>

                        • Round will be based on basic programming concept of c and java<br>
                        • The round consists of 3 questions, 2 from C and 1 from java.<br>
                        • The time constraint is 15 minutes.<br>
                        • There will be no negative points.<br>
                        • Winners will be decided from this round.<br>
                        • In case of tie, submission time and points of round 1 will be considered.<br>

                    </p>
                </div>
            </div>

    </section>

    <section class="register_btns">
        <button class="btn nav-btn">REGISTER</button>
        <button class="btn nav-btn broucher">BROUCHER</button>
    </section>


    <section class="sec1">
        <div class="cont1">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section heading-section-white text-center ftco-animate">
                    <h2 class="hd2 mb-4">EVENT COORDINATORS</h2>
                </div>
            </div>

            <div class="div1">
                <div>
                    <h4>Event Staff Coordinator</h4>
                    <p>• Prof. R. Ashin Herbert Sathish<br>
                        • Prof. Gladys Deborah<br>
                        • Prof. Divya K S<br>
                        • Dr. Margaret Mary T<br>

                    </p>
                </div>

                <div>
                    <h4>Event Student Coordinator</h4>
                    <p>• Md. Amaan Raza - 8521483266<br>
                        • Mohit Raj - 7050723093


                    </p>
                </div>
            </div>

        </div>

    </section>

<script src="../js/main.js"></script>


</body>

</html>