<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    <title>XACTITUDE|2022</title>

    <!-- css -->

    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/scrollbar.css" />
    <link rel="stylesheet" href="../css/codex.css" />
    <link rel="stylesheet" href="../css/footer.css">

    <!-- google fonts/icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- particles js -->
    <script src="./particles.js-master/particles.js" defer></script>
    <script src="./particles.js-master/app.js" defer></script>

</head>

<body class="body">


    <!-- nav section -->
    <section class="nav">
        <!-- header logo div -->
        <div class="left-nav">
            <a href="../index.html">
                <img src="../resources/kjc-flag-latest (1).png" alt="kjc logo">
                <!-- <img src="./resources/kjc-flag-latest.png" alt="kjc logo"> -->
            </a>
        </div>

        <!-- nav links div -->
        <!-- <button id="toggle-btn">Small</button> -->

        <input type="checkbox" id="check" />
        <label for="check" class="check-btn">
            <i class="fa fa-bars"></i>
        </label>

        <div class="right-nav">

            <ul id="nav-items">
                <a href="../index.html">
                    <li >home</li>
                </a>
                <a href="../templates/events.html">
                    <li class="active">events</li>
                </a>
                <a href="../templates/about.html">
                    <li>about</li>
                </a>
                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022"><button class="btn nav-btn">REGISTER</button></a>


            </ul>

        </div>
    </section>

    <section class="img1 hero-wrap hero-wrap-2" style="background-image: url('../resources/web.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">CSStematic</h1>
                    <p class="breadcrumbs"><span class="mr-2">WEB DEVELOPMENT</span></p>
                </div>
            </div>
        </div>
    </section>



    <section class="sec2">
        <div class="cont1">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section heading-section-black text-center ftco-animate">
                    <h2 class="hd1 mb-4">EVENT DETAILS</h2>
                </div>
            </div>

            <h4>GENERAL GUIDELINES:
            </h4>
            <p>
                The events will be proctored and will be conducted through Zoom.<br>
                Laptop or Desktop with a webcam is required.<br>
                It is an individual event.<br>
                Participants must have their camera turned on throughout the event. <br>
                Participants must ensure that they have a stable internet connection.<br>
                Frequent and/or extended disconnects from the Zoom meeting will result in disqualification.<br>
                In case of any inconvenience, you can reach out to any of the event coordinators.<br>
                Plagiarism will lead to disqualification<br>
                




            </p>
            <div class="inst1 ftco-animate">



                <div>
                    <h4>ROUND 1: Prelims (Designing Battle)</h4>
                    <p>
                        <b>Rules:</b><br>
                        •This is a 30-minute round.<br>
                        •In this, participants will be given a piece of code along with an image design.<br> 
                        •They have to debug the code and generate an output based on the image.<br>
                        •The image will be provided on the day of the event.<br>
                        •Results will be based on the cloning of the image and the least number of lines in the code.<br>
                        •Top 30% of participants will be selected for the final round, capped at 10.<br>
                        



                    </p>
                </div>

                <div>
                    <h4>Final Round(Clone A Website)

                    </h4>
                    <p>

                        • Participants will be asked to clone a website based on the given design.<br>
                        •45-minutes will be allotted to replicate the given UI.<br>
                        •Only HTML, CSS and Vanilla JavaScript is allowed to use.<br>
                        •Usage of any library or framework is not permitted.<br>
                        •No AI extension such as Github Copilot shall be used.<br>
                        •The participants must submit the .zip file consisting of all the resources, including the screenshots of their output.<br>
                        •Resources like fonts and icons will be provided to all the participants.<br>
                        •Refrain from using any resource file which is not provided by us.<br>
                        •The judge's decision will be final and binding.<br>
                        

                    </p>
                </div>
            </div>

    </section>

    <section class="register_btns">
        <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022"><button class="btn nav-btn">REGISTER</button></a>
        <a href="broucher-link"><button class="btn nav-btn broucher">BROUCHER</button></a>
    </section>


    <section class="sec1">
        <div class="cont1">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section heading-section-white text-center ftco-animate">
                    <h2 class="hd2 mb-4">EVENT COORDINATORS</h2>
                </div>
            </div>

            <div class="div1">
                

                <div>
                    <h4>Event Student Coordinator</h4>
                    <p> • Rohit Raj -  7004806512 <br>
                        •  Haseef Azhaan <br>
                        


                    </p>
                </div>
            </div>

        </div>

    </section>

<script src="../js/main.js"></script>

<section class="footer-container">

    <!-- copyright -->
    <h4 id="copyright">Copyright © 2022 All rights reserved</h4>

     <div class="social-icons footer-common">
            <h3>Social Media Links</h3>
            <div class="icon-group">
                <div class="icon-container">
                    <a href="https://www.instagram.com/xactitude2k22/"><img src="../resources/insta logo.svg" alt="insta logo"></a>
                </div>
                <div class="icon-container">
                    <a href="mailto:computeracademy@kristujayanti.com"><img src="../resources/gmail logo.svg" alt="insta logo"></a>
                </div>
            </div>
        </div>

    <div class="links footer-common">
        <h3>Links</h3>
        <ul>
            <a href="../index.html"><li>home</li></a>
            <a href="../templates/about.html"><li>about</li></a>
            <a href="#"><li>schedule</li></a>
            <a href="../templates/events.html"><li>events</li></a>
            <a href="../templates/contact.html"><li>contact</li></a>
            <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022"><li>register</li></a>
            <a href="broucher-link"><li>broucher</li></a>
        </ul>
    </div>

    <div class="about footer-common">
        <h3>About</h3>
        <ul>
            <a href="https://kristujayanti.edu.in/" target="_blank"><li>kristu jayanti college</li></a>
            <a href="https://kristujayanti.edu.in/about/founder.php" target="_blank"><li>founder</li></a>
            <a href="https://kristujayanti.edu.in/about/history.php" target="_blank"><li>history</li></a>
            <a href="https://kristujayanti.edu.in/about/vision_mission_goals.php" target="_blank"><li>vision, mission, goals</li></a>
            <a href="https://kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/computer_science.php" target="_blank"><li>department of computer science</li></a>
        </ul>
    </div>

    <div class="contact footer-common">
        <h3>Contact</h3>
        <ul>
            <a href="https://www.google.com/maps/place/Kristu+Jayanti+College,+Autonomous/@13.0579425,77.6407745,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae17578c79da7d:0xe96dcd8e2b982f8e!8m2!3d13.0579425!4d77.6429632"><li>K. Narayanapura, Kothanur</li></a>
            <a href="tel:080-28465611"><li>080-28465611</li></a>
            <a href="mailto:computeracademy@kristujayanti.com" ><li class="e-mail-link">computeracademy@kristujayanti.com</li></a>
        </ul>
    </div>
</section>


</body>

</html>