<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <!--css-->
    
    <link rel="stylesheet" href="../css/event.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/scrollbar.css" />
    <link rel="stylesheet" href="../css/footer.css">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>XACTITUDE | Events</title>
</head>

<body>
    <section class="nav">
        <!-- header logo div -->
        <div class="left-nav">
            <a href="../index.html">
                <img src="../resources/kjc-flag-latest (1).png" alt="kjc logo">
                <!-- <img src="./resources/kjc-flag-latest.png" alt="kjc logo"> -->
            </a>
        </div>

        <!-- nav links div -->
        <!-- <button id="toggle-btn">Small</button> -->

        <input type="checkbox" id="check" />
        <label for="check" class="check-btn">
            <i class="fa fa-bars"></i>
        </label>

        <div class="right-nav">

            <ul id="nav-items">
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="../templates/events.html">
                    <li class="active">events</li>
                </a>
                <a href="../templates/about.html">
                    <li>about</li>
                </a>
                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <a href="broucher-link"><button class="btn nav-btn broucher">BROUCHER</button></a>


            </ul>

        </div>
    </section>

    <section class="top-content">
        <div class="aboutevents">
            <!-- <h1>
                Events 
            </h1>
            Somthing to write about the code and perform some task and some rules and regulations..... -->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="slides d-block w-100 s1 " src="...">
                            <h1> Xactitude</h1>
                            <p>
                                Events are conducted on 3<sup>rd</sup> and 4<sup>th</sup> of march
                            </p>
                            <button class="btn" onclick="window.location.href='https://portal.kristujayanti.edu.in/register-xactitude-2022'">Register Now</button>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="d-block w-100 s1 slides" src="...">
                            <h1> Notice</h1>
                            <p>
                                Xactitute will be conducted through zoom platform
                            </p>
                            <button class="btn" onclick="window.location.href='https://portal.kristujayanti.edu.in/register-xactitude-2022'">Register Now</button>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="d-block w-100 s1 slides" src="...">

                            <h1> Amount To Register</h1>
                            <p>
                                Students can participate in any number of events with an registeration fee of <b>₹&nbsp; &nbsp;50.</b>
                            </p>
                            <button class="btn" onclick="window.location.href='https://portal.kristujayanti.edu.in/register-xactitude-2022'">Register Now</button>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <a href="../templates/codex.html" class="card event1">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/event_logo/codex_logo.png" class="svg" />
                        </div>
                        <p>CodeX</p>
                        <p class="real-name"> Coding And Debugging</p>
                        <p class="more">Click here for more</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="../templates/csstematic.html" class="card event2">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/eventlogo.svg" class="svg" />
                        </div>
                        <p>CSStematic</p>
                        <p class="real-name"> Web Designing</p>
                        <p class="more">Click here for more</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="../templates/stats.html" class="card event7">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/event_logo/stats_logo.png" class="svg" />
                        </div>
                        <p>Statsoryx</p>
                        <p class="real-name"> Statastics</p>
                        <p class="more">Click here for more</p>
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-lg">
                    <a href="../templates/maths.html" class="card event4">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/event_logo/maths_logo.png" class="svg" />
                        </div>
                        <p>(PI)rates</p>
                        <p class="real-name"> Mathematics</p>
                        <p class="more">Click here for more</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="../templates/electronics.html" class="card event5">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/event_logo/elect_logo.png" class="svg" />
                        </div>
                        <p>Electrovolta</p>
                        <p class="real-name"> Electronics</p>
                        <p class="more">Click here for more</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="../templates/physics.html" class="card event6">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="../resources/eventlogo.svg" class="svg" />
                        </div>
                        <p>Neutrino</p>
                        <p class="real-name"> Physics</p>
                        <p class="more">Click here for more</p>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <script src="../js/main.js"> </script>


    <!-- footer section -->
    <section class="footer-container">

        <!-- copyright -->
        <h4 id="copyright">Copyright © 2022 All rights reserved</h4>

        <div class="social-icons footer-common">
            <h3>Social Media Links</h3>
            <div class="icon-group">
                <div class="icon-container">
                    <img src="../resources/insta logo.svg" alt="insta logo">
                </div>
                <div class="icon-container">
                    <img src="../resources/gmail logo.svg" alt="insta logo">
                </div>
            </div>
        </div>

        <div class="links footer-common">
            <h3>Links</h3>
            <ul>
                <a href="../index.html"><li>home</li></a>
                <a href="../templates/about.html"><li>about</li></a>
                <a href="#"><li>schedule</li></a>
                <a href="../templates/events.html"><li>events</li></a>
                <a href="../templates/contact.html"><li>contact</li></a>
                <a href="#"><li>register</li></a>
                <a href="#"><li>brochure</li></a>
            </ul>
        </div>

        <div class="about footer-common">
            <h3>About</h3>
            <ul>
                <a href="https://kristujayanti.edu.in/" target="_blank"><li>kristu jayanti college</li></a>
                <a href="https://kristujayanti.edu.in/about/founder.php" target="_blank"><li>founder</li></a>
                <a href="https://kristujayanti.edu.in/about/history.php" target="_blank"><li>history</li></a>
                <a href="https://kristujayanti.edu.in/about/vision_mission_goals.php" target="_blank"><li>vision, mission, goals</li></a>
                <a href="https://kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/computer_science.php" target="_blank"><li>department of computer science</li></a>
            </ul>
        </div>

        <div class="contact footer-common">
            <h3>Contact</h3>
            <ul>
                <a href="https://www.google.com/maps/place/Kristu+Jayanti+College,+Autonomous/@13.0579425,77.6407745,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae17578c79da7d:0xe96dcd8e2b982f8e!8m2!3d13.0579425!4d77.6429632"><li>K. Narayanapura, Kothanur</li></a>
                <a href="tel:080-28465611"><li>080-28465611</li></a>
                <a href="mailto:computeracademy@kristujayanti.com" ><li class="e-mail-link">computeracademy@kristujayanti.com</li></a>
            </ul>
        </div>
    </section>
</body>

</html>