<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/event.css" />
    <title>Xattitute|Events</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light">
        <div class="left-nav">
            <a href="./index.html">
                <!-- <img src="./resources/image (3).png" alt=""> -->
                <img src="../resources/kjc-flag-latest.png" alt="kjc logo">
            </a>
        </div>
        <!-- nav links div -->
        <div class="right-nav">
            <ul>
                <a href="../index.html">
                    <li >home</li>
                </a>
                <a href="../templates/events.html">
                    <li class="active">events</li>
                </a>
                <a href="#">
                    <li>about</li>
                </a>
        

            </ul>
        </div>
    </nav>

    <section class="top-content">
        <div class="aboutevents">
            <h1>
                Events 
            </h1>
            Somthing to write about the code and perform some task and some rules and regulations.....
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <a href="#" class="card event1">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/eventlogo.svg"  class="svg"/>
                        </div>
                        <p>WebDev</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="#" class="card event2">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/eventlogo.svg"  class="svg"/>
                        </div>
                        <p>Codding Debugging</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="#" class="card event3">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="../resources/eventlogo.svg"  class="svg"/>
                        </div>
                        <p>Gaming</p>
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-lg">
                    <a href="#" class="card event1">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/eventlogo.svg"  class="svg"/>
                        </div>
                        <p>WebDev</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="#" class="card event2">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/eventlogo.svg"  class="svg"/>
                        </div>
                        <p>Codding Debugging</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="#" class="card event3">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="../resources/eventlogo.svg"  class="svg"/>
                        </div>
                        <p>Gaming</p>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg">
                    <a href="#" class="card event1">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/eventlogo.svg"  class="svg"/>
                        </div>
                        <p>WebDev</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="#" class="card event2">
                        <div class="overlay"></div>
                        <div class="circle">

                            <img src="../resources/eventlogo.svg"  class="svg"/>
                        </div>
                        <p>Codding Debugging</p>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="#" class="card event3">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="../resources/eventlogo.svg"  class="svg"/>
                        </div>
                        <p>Gaming</p>
                    </a>
                </div>
            </div>
        </div>

    </section>
<script src="../js/main.js"> </script>
</body>

</html>