<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

    <title>XACTITUDE | 2022</title>

    <!-- css -->

    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/scrollbar.css" />
    <link rel="stylesheet" href="../css/codex.css" />
    <link rel="stylesheet" href="../css/footer.css">

    <!-- google fonts/icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- particles js -->
    <script src="./particles.js-master/particles.js" defer></script>
    <script src="./particles.js-master/app.js" defer></script>

</head>

<body class="body">


    <!-- nav section -->
    <section class="nav">
        <!-- header logo div -->
        <div class="left-nav">
            <a href="../index.html">
                <img src="../resources/kjc-flag-latest (1).png" alt="kjc logo">
                <!-- <img src="./resources/kjc-flag-latest.png" alt="kjc logo"> -->
            </a>
        </div>

        <!-- nav links div -->
        <!-- <button id="toggle-btn">Small</button> -->

        <input type="checkbox" id="check" />
        <label for="check" class="check-btn">
            <i class="fa fa-bars"></i>
        </label>

        <div class="right-nav">

            <ul id="nav-items">
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="../templates/events.html">
                    <li class="active">events</li>
                </a>
                <a href="../templates/schedule.html">
                    <li>Schedule</li>
                    </a>
                <a href="../templates/about.html">
                    <li>about</li>
                </a>
                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022"><button
                        class="btn nav-btn">REGISTER</button></a>


            </ul>

        </div>
    </section>

    <section class="img1 hero-wrap hero-wrap-2" style="background-image: url('../resources/maths.webp');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">(π)rates</h1>
                    <p class="breadcrumbs"><span class="mr-2">Mathematics Event </span></p>
                </div>
            </div>
        </div>
    </section>



    <section class="sec2">
        <div class="cont1">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section heading-section-black text-center ftco-animate">
                    <h2 class="hd1 mb-4">EVENT DETAILS</h2>
                </div>
            </div>

            <h4>GENERAL GUIDELINES:
            </h4>
            <p>
                • Participants are expected to join the meeting 10 mins prior. <br>

                • The link for the Zoom meeting will be shared in the whatsapp group. <br>

                •Participants are expected to keep their cameras on throughout the event, failing to do so will let to
                disqualification. <br>


                • The decision of the judges as regards the result of the competition will be final and binding. <br>

                •The organizer’s decision regarding the interpretation of rules or any other matter relating to the
                competition will be final. <br>

                •If there is any situation not contemplated in the rules, the decision of the judges shall be final.
                <br>

                •Participants are expected to ensure a good network connection. <br>
                <br>




            </p>
            <div class="inst1 ftco-animate">



                <div>
                    <h4>ROUND 1: PRELIMS </h4>
                    <p>
                        <b>Rules:</b><br>
                        • Prelims will be conducted through google forms. <br>
                        •Participants will have to solve 20 questions in 20 mins . <br>
                        •The link for the google form will be shared in the zoom meeting. <br>
                        •The results will be declared in the zoom meeting and whatsapp group
                        <br>




                    </p>
                </div>

                <div>
                    <h4>FINAL ROUND
                    </h4>

                    <h3> Round 1</h3>
                    <p>
                        • Round 1 will be conducted on the QUIZZES platform.<br>
                        • A link for the same will be given in the meeting itself.<br>
                        • This round will have 10 questions in total and your scores will be taken into account.<br>
                        • No elimination will be there in this round.<br>
                        • Participants should register with their names on the QUIZZES platform.<br>
                        <br>
                    </p>
                    <h3> Round 2 (Rapid Fire)</h3>
                    <p>

                        • Each participant will have to answer 3 questions. <br>
                        • 30 secs will be provided for each question. <br>
                        • This round will take place in the zoom meeting itself and participant has to answer verbally in the meeting. <br>
                        • Bonus round will be conducted & its instruction will be given on time. <br>
                        • On basis of all the rounds the winner would be declared. <br>
                        <br>

                    </p>
                </div>
            </div>

    </section>

    <section class="register_btns">
        <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022"><button
                class="btn nav-btn">REGISTER</button></a>
        <a href="../resources/brochure.pdf" target="_blank"><button class="btn nav-btn brochure">brochure</button></a>
    </section>


    <section class="sec1">
        <div class="cont1">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section heading-section-white text-center ftco-animate">
                    <h2 class="hd2 mb-4">EVENT COORDINATORS</h2>
                </div>
            </div>

            <div class="div1">


                <div>
                    
                    <p>• Vipin Raut- 7840921371<br>
                        • Muskan Agarwal


                    </p>
                </div>
            </div>

        </div>

    </section>

    <script src="../js/main.js"></script>

    <section class="footer-container">

        <!-- copyright -->
        <h4 id="copyright">Copyright © 2022 All rights reserved</h4>

        <div class="social-icons footer-common">
            <h3>Social Media Links</h3>
            <div class="icon-group">
                <div class="icon-container">
                    <a href="https://www.instagram.com/xactitude2k22/"><img src="../resources/insta logo.svg"
                            alt="insta logo"></a>
                </div>
                <div class="icon-container">
                    <a href="mailto:computeracademy@kristujayanti.com"><img src="../resources/gmail logo.svg"
                            alt="insta logo"></a>
                </div>
            </div>
        </div>

        <div class="links footer-common">
            <h3>Links</h3>
            <ul>
                <a href="../index.html">
                    <li>home</li>
                </a>
                <a href="../templates/about.html">
                    <li>about</li>
                </a>
                <a href="../templates/schedule.html">
                    <li>Schedule</li>
                    </a>
                <a href="../templates/events.html">
                    <li>events</li>
                </a>
                <a href="../templates/schedule.html">
                    <li >Schedule</li>
                </a>
                <a href="../templates/contact.html">
                    <li>contact</li>
                </a>
                <a href="https://portal.kristujayanti.edu.in/register-xactitude-2022">
                    <li>register</li>
                </a>
                <a href="../resources/brochure.pdf" target="_blank">
                    <li>brochure</li>
                </a>
            </ul>
        </div>

        <div class="about footer-common">
            <h3>About</h3>
            <ul>
                <a href="https://kristujayanti.edu.in/" target="_blank">
                    <li>kristu jayanti college</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/founder.php" target="_blank">
                    <li>founder</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/history.php" target="_blank">
                    <li>history</li>
                </a>
                <a href="https://kristujayanti.edu.in/about/vision_mission_goals.php" target="_blank">
                    <li>vision, mission, goals</li>
                </a>
                <a href="https://kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/computer_science.php"
                    target="_blank">
                    <li>department of computer science</li>
                </a>
            </ul>
        </div>

        <div class="contact footer-common">
            <h3>Contact</h3>
            <ul>
                <a href="tel:9632061398">
                    <li>9632061398</li>
                </a>
                <a href="mailto:computeracademy@kristujayanti.com">
                    <li class="e-mail-link">computeracademy@kristujayanti.com</li>
                </a>
            </ul>
        </div>
    </section>


</body>

</html>